.mainDiv{
    height: 800px;
    background: blue;
}

.laderalDiv {
    width: 200px;
    height: 800px;
    background: aqua;
}
.imagemHeader {
    height: 100px;
    background: red;

}

.conteudoHeader{
    height: 100%;
background: green;    
}