body { 
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.DivMains{
    display: flex;
    line-height: center;

}
.headerMain{
    width: 20%;
    height: 500px;
    background: yellow;
}

.sectionMain{
    width: 80%;
    height: 500px;
    background: green;
}

.footerMain {
   height: 30px;
   width: 100%;
   background-color: blue; 
}

.imagemHeader {
    padding: 10px;
  margin: auto;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  
}

.imagemHeader img {
    border-radius: 50%;
    box-shadow: 0 0 10px white;

}

.botoesHeader{
    padding: 10px;
    background: pink;
    color: black;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 20px;
    
}
.confgBotoes{
    padding: 10px;
    background: pink;
    color: black;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 20px;
}

